<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="Tags" id="tags" th:fragment="cloud">
    <div class="Tag " th:each="tag: ${tags}">
        <a href="/tags/index.html" th:href="@{'/tags/' + ${tag.slug}}" th:text="${tag.name}">современная литература</a>
    </div>
    <div class="Tag Tag_xs"><a href="/tags/index.html">современная литература</a>
    </div>
    <div class="Tag Tag_sm"><a href="/tags/index.html">классическая литература</a>
    </div>
    <div class="Tag"><a href="/tags/index.html">зарубежная литература</a>
    </div>
    <div class="Tag Tag_md"><a href="/tags/index.html">фэнтези</a>
    </div>
    <div class="Tag Tag_lg"><a href="/tags/index.html">английская литература</a>
    </div>
    </div>
</html>