<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!-->git
<html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <title th:text="#{title.main}">Магазин 📚</title>
    <meta name="description" content="Описание страницы">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <!--meta( http-equiv="cache-control" content="no-cache")-->
    <!--meta( http-equiv="expires" content="0")-->
    <!--link(rel="preload" href="assets/css/extra.min.css?v=" + version as="style" crossorigin="anonymous")-->
    <link href="favicon.ico" rel="shortcut icon">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=64223515">
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=64223515">
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=64223515">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script defer src="/assets/js/scripts.min.js?v=64223515"></script>
</head>
<body class="Site">
<!--if lt IE 8
p.error-browser
    | Ваш браузер&nbsp;
    em устарел!&nbsp;
    a(href="http://browsehappy.com/") Выберите новую версию
        +s
        | браузера здесь&nbsp;
    | для правильного отображения сайта.
-->
<header class="Header"
        th:replace="~{fragments/common_header_fragment :: head(main='menu-item menu-item_ACTIVE', status='unauthorized')}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <div class="Section">
                <div th:replace="~{fragments/book_slider_fragment :: bookSlider(title=${#messages.msg('topbar.recommended')}, category='recommended')}"></div>
                <div th:replace="~{fragments/book_slider_fragment :: bookSlider(title=${#messages.msg('topbar.news')}, category='recent')}"></div>
                <div th:replace="~{fragments/book_slider_fragment :: bookSlider(title=${#messages.msg('topbar.popular')}, category='popular')}"></div>
            </div>
            <h2 class="Middle-title" th:text="#{main.title.tags}">Книги по тегам
            </h2>
            <div class="Tags" id="tags" th:replace="~{fragments/tag_cloud_fragment :: cloud}"></div>
        </main>
    </div>
</div>
<footer class="Footer" th:replace="~{fragments/common_footer_fragment :: footer}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
<!--+menu(-->
<!--    'Это раз',-->
<!--    'Это два',-->
<!--    'Это три'-->
<!--)-->
<!--br-->
<!--br-->
<!--+menu._vt-->
<!--    +menuItem Это раз-->
<!--    +menuItem.-item_danger Это два-->
<!--    +menuItem Это три-->
</body>
</html>